@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Nunito Sans', system-ui, sans-serif;
  }

  p {
    padding-bottom: theme(spacing.6);
  }

  span,
  i {
    color: inherit;
    font-size: inherit;
  }

  a:hover svg {
    transition-duration: theme(transitionDuration.300);
    fill: theme(colors.primary.dark);
  }

  html.dark a:hover svg {
    fill: theme(colors.primary.light);
  }

  .preloader > svg {
    stroke: theme(colors.teal.700);
  }

  .dark .preloader > svg {
    stroke: theme(colors.teal.300);
  }

  @media (min-width: theme(screens.sm)) {
    li,
    i,
    p,
    button {
      line-height: theme(lineHeight.7);
    }
  }
}

@layer utilities {
  .bg-light {
    background: linear-gradient(-135deg, #ccfbf1 10%, #99f6e4 50%, #ecfeff 100%);
  }

  .bg-overlay {
    background: linear-gradient(30deg, #ccfbf1e6 33%, #ccfbf100 66%),
      linear-gradient(-135deg, #99f6e4 10%, #5eead4 50%, #ecfeff 100%);
    background-attachment: fixed;
  }

  .bg-dark {
    background: linear-gradient(-135deg, #0f766e 20%, #0d9488 50%, #134e4a 100%);
  }

  .bg-overlay-dark {
    background: linear-gradient(30deg, #0f766ee6 10%, #0f766e00 66%),
      linear-gradient(-135deg, #134e4a 20%, #0f766e 50%, #0f172a 100%);
    background-attachment: fixed;
  }

  .cursor-tracking-gradient {
    --gradientPosition: center;
    --background: 20 184 166; /* teal-500 */
    background: radial-gradient(
      400px at var(--gradientPosition),
      rgb(var(--background) / 0.4) 0%,
      rgb(var(--background) / 0.2) 40%,
      transparent 100%
    );
  }

  html.dark .cursor-tracking-gradient {
    --background: 15 118 110; /* teal-700 */
  }

  .animate-fade-in {
    transition: all 500ms ease-out;
    opacity: 0;
    transform: translateY(50%);
  }

  .animate-start .animate-fade-in {
    opacity: 1;
    transform: translateY(0);
  }
}
